<form action="/process/{{ process.id }}/upload_json" method="POST" enctype="multipart/form-data">
    <label for="json_file_input">  JSON file </label>
  <input type="file" id="json_file_input" name="json_filename" value="{{ json_file }}">
  <input type="submit">
</form>

<form action="/process/{{ process.id }}/upload_excel" method="POST" enctype="multipart/form-data">
    <label for="excel_file_input">  Excel file </label>
  <input type="file" id="excel_file_input" name="excel_filename" value="{{ excel_file }}">
  <input type="submit">
</form>

<form action="/process/{{ process.id }}/validate" method="GET">
  <input type="submit" name="validate" value="Validate">
</form>